@charset "UTF-8";
@use '../../global' as g;

.info {
  display: flex;
  flex-wrap: wrap;
  &__heading {
    width: 20%;
    font-weight: normal;
    margin-top: 10px;
    &:first-of-type {
      margin-top: 0;
    }
  }
  &__desc {
    width: 80%;
    margin-top: 10px;
    &:first-of-type {
      margin-top: 0;
    }
    &--add {
      margin-left: 20%;
    }
  }

}