@charset "UTF-8";
@use '../../global' as g;

.tab-menu {
  display: flex;
  border-bottom: 1px solid g.$color-primary;
  &__item {
    width: 240px;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
    
  }
}

.tabMeunActive {
  border-bottom: 2px solid g.$color-primary;
}